body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    padding: 50px;
}

.wrap-trello {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid rgb(196, 145, 222);
    border-radius: 5px;
    background-color: rgb(223, 168, 223);
    align-items: center;
}

.text {
    font-size: 21px;
}

.timer {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
}

.wrap-for-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.todo-card {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid blueviolet;
}

.headerTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 217, 19);
}

.header-todo-text {
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}

.header-counter {
    font-size: 15px;
}

.title-section {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 12px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.edit {
    padding: 5px;
    font-size: 12px;
}

.delete {
    padding: 5px;
    font-size: 12px;
}

.inner-card {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #36ade5;
    border-radius: 5px;
    background-color: #8342de;
}

.description-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description {
    font-size: 14px;
}

button {
    padding: 5px 10px;
    border: 1px solid white;
    background-color: rgb(93, 176, 239);
}

.sectionUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.in-progress-card {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid blueviolet;
}

.in-progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-progress-text {
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}

.in-progress-counter {
    font-size: 15px;
}

.done-card {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid blueviolet;
}